.heading_h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.3rem;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(-20deg, #00c7a9, #313b47);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4); }

@media only screen and (max-width: 1060px) {
  .heading_h2 {
    font-size: 3rem; } }

@media only screen and (min-width: 450px) and (max-width: 780px) {
  .heading_h2 {
    font-size: 2.3rem; } }

@media only screen and (max-width: 450px) {
  .heading_h2 {
    font-size: 2rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden !important; }

body {
  font-size: 2rem;
  font-family: 'roboto', sans-serif;
  background-color: #E4E6EB;
  overflow-x: hidden !important; }

a {
  text-decoration: none !important; }

.navbar {
  position: fixed;
  width: 100vw; }

.display-none {
  display: none !important; }

.display-block {
  display: block !important; }

.navbar-bg {
  background-image: linear-gradient(to left top, #049882, #404a56);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  transition: all 0.5s ease-out; }

.bgColor_nav_small {
  height: 100vh !important;
  background-image: linear-gradient(to left top, #049882, #404a56); }

/* header responsive code*/
@media only screen and (min-width: 0px) {
  .margin-bottom-13rem {
    margin-bottom: 13rem; }
  .header {
    height: 100vh;
    background-image: url(../img/headerBG.png); }
    .header .navbar {
      padding-top: 0.4rem;
      height: 8.5rem;
      transition: all .5s ease;
      z-index: 999; }
      .header .navbar a img {
        width: 5.5rem;
        display: inline-block;
        transform: translate(20%, 26%); }
      .header .navbar a h2 {
        font-size: 1.2rem;
        display: inline-block;
        margin-left: 1.6rem;
        font-weight: 600;
        color: rgba(255, 250, 240, 0.891);
        font-family: 'Rubik', Arial, sans-serif; }
        .header .navbar a h2:hover, .header .navbar a h2:focus {
          color: floralwhite;
          text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
        .header .navbar a h2:active {
          transform: translateY(0.4px);
          text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3); }
      .header .navbar div#menu a:hover {
        color: #ebce84;
        padding: 4rem 0; }
      .header .navbar div#menu a:focus {
        color: #ebce84;
        padding: 4rem 0; }
      .header .navbar .nav {
        display: inline-block; }
        .header .navbar .nav #nav-small {
          font-size: 3.2rem;
          display: inline-block;
          position: absolute;
          right: 2.5rem;
          top: 2.8rem;
          cursor: pointer;
          color: #fcf6ec; }
          .header .navbar .nav #nav-small:hover, .header .navbar .nav #nav-small:focus {
            color: floralwhite;
            text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
        .header .navbar .nav .menu {
          display: none;
          margin-top: 5rem;
          height: 90vh;
          width: 100vw; }
          .header .navbar .nav .menu .active-small {
            color: #ebce84; }
          .header .navbar .nav .menu a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.4rem;
            letter-spacing: .5px;
            display: block;
            text-align: center;
            border-bottom: 0.5px solid rgba(171, 182, 182, 0.17);
            color: floralwhite;
            padding: 3rem 0;
            transition: all 0.3s ease-out; }
          .header .navbar .nav .menu ul {
            list-style: none; }
          .header .navbar .nav .menu ul li {
            text-align: center; }
          .header .navbar .nav .menu ul li ul {
            display: none; }
    .header .navbar-bg a img {
      transform: translate(20%, 30%); }
    .header .welcome_text {
      top: 30%;
      left: 12%;
      position: absolute;
      font-size: 1.2rem;
      color: #f7f7f7;
      font-family: 'Roboto', sans-serif; }
      .header .welcome_text .academyName {
        word-spacing: 0.4rem;
        line-height: 1.3;
        color: #BBD2C5; }
      .header .welcome_text .slogan-Hindi {
        display: inline-block;
        font-family: 'Hind', sans-serif;
        margin-top: 2rem;
        letter-spacing: 0.1rem;
        background-image: linear-gradient(-70deg, #BBD2C5, #6dd5ed);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }
    .header .button-bordered {
      position: absolute;
      bottom: 27%;
      left: 15%; }
    .header .explore_more_btn {
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 5px 0 2px 0 !important;
      color: rgba(221, 213, 193, 0.75);
      border-bottom: 1.5px solid rgba(221, 213, 193, 0.75);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
      transition: all .5s; }
      .header .explore_more_btn:hover {
        font-size: 1.06rem;
        color: #ddd5c1;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.25); }
      .header .explore_more_btn:active {
        box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.35); } }

@media only screen and (min-width: 350px) {
  .header .navbar a img {
    width: 6rem;
    margin-left: 1rem; }
  .header .navbar a h2 {
    font-size: 1.5rem;
    margin-left: 2rem; }
  .header .navbar-bg a img {
    transform: translate(20%, 22%); }
  .header .welcome_text {
    font-size: 1.4rem; }
    .header .welcome_text .academyName {
      word-spacing: 0.5rem;
      line-height: 1.5; }
  .header .button-bordered {
    left: 12%; }
  .header .explore_more_btn {
    font-size: 1.3rem; }
    .header .explore_more_btn:hover {
      font-size: 1.36rem; } }

@media only screen and (min-width: 450px) {
  .header .navbar {
    height: 9rem; }
    .header .navbar a img {
      width: 6.5rem;
      margin-left: 2rem; }
    .header .navbar a h2 {
      font-size: 1.7rem; } }

@media only screen and (min-width: 650px) {
  .header .navbar {
    height: 9.8rem; }
    .header .navbar a img {
      width: 7.5rem;
      margin-left: 2rem; }
    .header .navbar a h2 {
      font-size: 2rem; }
    .header .navbar .nav {
      display: inline-block; }
      .header .navbar .nav #nav-small {
        font-size: 3.8rem;
        right: 3rem;
        top: 3rem; }
  .header .navbar-bg a img {
    transform: translate(20%, 17.5%); }
  .header .navbar-bg a h2 {
    transform: translateY(-0.4rem); } }

@media only screen and (min-width: 950px) {
  .header .navbar {
    height: 10rem; }
    .header .navbar a img {
      width: 7.7rem;
      margin-left: 2.8rem; }
    .header .navbar a h2 {
      font-size: 2.17rem;
      transform: translateY(0.3rem); }
    .header .navbar .nav {
      display: inline-block; }
      .header .navbar .nav #nav-small {
        font-size: 4rem;
        right: 4rem; }
  .header .navbar-bg a img, .header .navbar-bg-big a img {
    transform: translate(20%, 17.5%); }
  .header .navbar-bg a h2, .header .navbar-bg-big a h2 {
    transform: translateY(-0.4rem); } }

@media only screen and (min-width: 1130px) {
  .margin-bottom-13rem {
    margin-bottom: 0; }
  .navbar-bg-big {
    background-image: linear-gradient(to left top, #049882, #404a56);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
    transition: all 0.5s ease-out; }
  .bg-img-gradient {
    border-radius: 3px 3px 0 0;
    background-image: linear-gradient(-60deg, #1fa4bb, #167a8b, #0f6474); }
  .header .navbar div#menu a:hover {
    color: #fff;
    padding: 1.7rem 1.3rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(-60deg, #1fa4bb, #167a8b, #0f6474); }
  .header .navbar div#menu a:focus {
    color: #fff;
    padding: 1.7rem 1.3rem; }
  .header .navbar div#menu a::after, .header .navbar div#menu a::before {
    color: #fff;
    padding: 1.7rem 1.3rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(-60deg, #1fa4bb, #167a8b, #0f6474); }
  .header .navbar div#menu a:active {
    transform: translateY(2px);
    background-image: linear-gradient(-60deg, #1fa48c, #167a64, #0f645a);
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }
  .header .navbar .nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -35%);
    right: 4rem; }
    .header .navbar .nav #nav-small {
      display: none; }
    .header .navbar .nav .menu {
      display: inline-block;
      margin-top: 0;
      height: auto;
      width: auto; }
      .header .navbar .nav .menu .active-small {
        color: floralwhite; }
      .header .navbar .nav .menu .active {
        border-radius: 3px;
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(-60deg, #1fa48c, #167a64, #0f645a); }
      .header .navbar .nav .menu a {
        display: inline-block;
        font-size: 1.7rem;
        letter-spacing: .6px;
        border-bottom: none;
        padding: 1.7rem 1.3rem;
        color: floralwhite;
        transition: all 0.3s ease-out; }
      .header .navbar .nav .menu ul {
        display: inline-block;
        list-style: none; }
      .header .navbar .nav .menu ul li {
        text-align: center; }
      .header .navbar .nav .menu ul li ul {
        display: block; }
        .header .navbar .nav .menu ul li ul li a {
          text-align: left;
          font-size: 1.4rem;
          width: 100%; }
      .header .navbar .nav .menu #dropDownAboutUs {
        position: relative; }
        .header .navbar .nav .menu #dropDownAboutUs #AboutUsSubSections {
          display: none;
          position: absolute;
          width: 35rem;
          padding: 1rem 0;
          background-image: linear-gradient(-60deg, #1fa4bb, #167a8b, #0f6474);
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
          border-radius: 0 3px 3px 3px; }
  .header .navbar-bg a img, .header .navbar-bg-big a img {
    transform: translate(20%, 18%); }
  .header .welcome_text {
    font-size: 1.8rem; }
    .header .welcome_text .academyName {
      word-spacing: 0.7rem;
      line-height: 1.8; }
  .header .explore_more_btn {
    font-size: 1.4rem; }
    .header .explore_more_btn:hover {
      font-size: 1.46rem; } }

/* update section responsive code*/
@media only screen and (min-width: 0px) {
  .updates {
    margin-top: 12rem;
    margin-bottom: 10rem; }
    .updates .update {
      margin-top: 5rem;
      position: relative;
      display: none;
      animation: updateSlides .95s ease-out;
      perspective: 150rem;
      -moz-perspective: 150rem; }
      .updates .update img {
        width: 100vw;
        height: 30rem;
        object-fit: cover; }
      .updates .update > div {
        height: 100%;
        width: 100vw;
        position: absolute;
        bottom: 0;
        text-align: center;
        clip-path: polygon(0 220px, 100% 130px, 100% 100%, 0px 100%);
        background-image: linear-gradient(to left top, #048571d2, #353d47b5);
        box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.2); }
        .updates .update > div > div {
          position: relative;
          height: 100%; }
          .updates .update > div > div > h4 {
            font-family: 'Nunito Sans', sans-serif;
            position: absolute;
            text-align: right;
            top: 18rem;
            right: 2px;
            width: 22rem;
            color: rgba(245, 222, 93, 0.926);
            padding: 1rem 0;
            font-weight: 700;
            letter-spacing: 1.2px;
            background-image: linear-gradient(-70deg, #BBD2C5, #6dd5ed);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
            text-transform: capitalize; }
          .updates .update > div > div > a {
            text-decoration: none;
            position: absolute;
            font-size: 1.5rem;
            bottom: 1rem;
            right: 1rem;
            color: #ccddd9;
            text-transform: ca; }
            .updates .update > div > div > a:hover {
              color: #effdfb; }
    .updates .visible-slide {
      display: block; }
  @keyframes updateSlides {
    0% {
      transform: rotateY(180deg); } } }

@media only screen and (min-width: 450px) {
  .updates .update {
    width: 45rem;
    margin-left: auto;
    margin-right: auto; }
    .updates .update img {
      width: 100%;
      height: 35rem; }
    .updates .update > div {
      height: 100%;
      width: 100%; }
      .updates .update > div > div > h4 {
        right: 1.5rem;
        top: 22rem;
        width: 25rem; }
      .updates .update > div > div > a {
        right: 2rem; }
  .updates .visible-slide {
    display: block; } }

@media only screen and (min-width: 650px) {
  .updates .update {
    width: 55rem;
    margin-left: auto;
    margin-right: auto; }
    .updates .update img {
      width: 100%;
      height: 38rem; }
    .updates .update > div {
      height: 100%;
      width: 100%; }
      .updates .update > div > div > h4 {
        right: 2rem;
        top: 25rem;
        width: 28rem; }
  .updates .visible-slide {
    display: block; } }

@media only screen and (min-width: 900px) {
  .updates {
    margin-top: 16rem;
    margin-bottom: 22rem;
    width: 88rem;
    margin-left: auto;
    margin-right: auto; }
    .updates .update {
      margin-top: 7rem;
      display: none;
      width: 42rem;
      margin-left: 0;
      margin-right: 0;
      margin-left: 1rem; }
      .updates .update img {
        width: 100%;
        height: 30rem;
        object-fit: cover; }
      .updates .update > div {
        height: 100%;
        width: 100%; }
        .updates .update > div > div > h4 {
          right: 2rem;
          top: 20rem;
          width: 28rem; }
  @keyframes updateSlides {
    0% {
      transform: rotateY(180deg); } }
  .visible-slide {
    display: none; }
  .visible-slide-inline-block {
    display: inline-block !important; } }

@media only screen and (min-width: 1050px) {
  .updates {
    margin-top: 18rem;
    width: 95rem; }
    .updates .update {
      margin-left: 3.3rem; }
  @keyframes updateSlides {
    0% {
      transform: rotateY(180deg); } }
  .visible-slide {
    display: none; }
  .visible-slide-inline-block {
    display: inline-block !important; } }

@media only screen and (min-width: 1150px) {
  .updates {
    margin-top: 18rem;
    width: 110rem; }
    .updates .update {
      margin-left: 8.5rem; }
  @keyframes updateSlides {
    0% {
      transform: rotateY(180deg); } }
  .visible-slide {
    display: none; }
  .visible-slide-inline-block {
    display: inline-block !important; } }

/* rank holder responsive code*/
@media only screen and (min-width: 0px) {
  section.Rank {
    margin: 10rem auto 0 auto; }
    section.Rank .filtter-shadow {
      filter: drop-shadow(0.15rem 0.8rem 1rem rgba(0, 0, 0, 0.2));
      padding-bottom: 2rem; }
    section.Rank .rank-holders {
      margin-top: 6rem;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: 30vw;
      background-image: none;
      position: relative; }
      section.Rank .rank-holders > img {
        width: 28vw;
        position: absolute;
        top: 0%;
        left: 0%; }
      section.Rank .rank-holders > div {
        position: absolute;
        top: 11%;
        left: 38%; }
        section.Rank .rank-holders > div > h3 {
          font-family: 'Cookie', cursive;
          font-size: 7vw;
          letter-spacing: 2.5px;
          color: #0066a5;
          font-weight: 500;
          text-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.3); }
        section.Rank .rank-holders > div > p {
          font-family: 'Exo 2', sans-serif;
          font-size: 4vw;
          font-weight: 300; } }

@media only screen and (min-width: 620px) {
  section.Rank {
    margin: 10rem auto 0 auto;
    width: 80%; }
    section.Rank .filtter-shadow {
      filter: drop-shadow(0.15rem 0.8rem 1rem rgba(0, 0, 0, 0.2));
      padding-bottom: 2rem; }
    section.Rank .rank-holders {
      margin-top: 6rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      height: 12rem;
      background-image: linear-gradient(to right bottom, #bfacc9, #b89fc4);
      position: relative;
      transform: skew(-15deg); }
      section.Rank .rank-holders > img {
        margin-left: 10%;
        width: 130px;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: skew(15deg); }
      section.Rank .rank-holders > div {
        transform: skew(15deg) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 44%; }
        section.Rank .rank-holders > div > h3 {
          font-size: 2.7rem; }
        section.Rank .rank-holders > div > p {
          font-size: 1.7rem; } }

@media only screen and (min-width: 980px) {
  .container-rankHolder {
    position: relative; }
  section.Rank {
    margin: 10rem auto 0 auto; }
    section.Rank .filtter-shadow {
      filter: drop-shadow(0.15rem 0.8rem 1rem rgba(0, 0, 0, 0.2));
      padding-bottom: 2rem; }
    section.Rank .rank-holders {
      width: 38vw;
      height: 10.5vw;
      background-image: linear-gradient(to right bottom, #bfacc9, #b89fc4);
      margin-left: 0;
      margin-right: 0; }
      section.Rank .rank-holders > img {
        margin-left: 4vw;
        width: 10vw; }
      section.Rank .rank-holders > div {
        position: absolute;
        transform: skew(15deg) translateY(-50%);
        top: 50%;
        left: 50%; }
        section.Rank .rank-holders > div > h3 {
          font-size: 2.2vw; }
        section.Rank .rank-holders > div > p {
          font-size: 1vw; }
      section.Rank .rank-holders--1 {
        left: 7%; }
      section.Rank .rank-holders--2 {
        left: 45%; } }

@media only screen and (min-width: 1360px) {
  section.Rank .rank-holders {
    height: 15rem; }
    section.Rank .rank-holders > img {
      margin-left: 7rem;
      width: 150px; }
    section.Rank .rank-holders > div {
      left: 27rem; }
      section.Rank .rank-holders > div > h3 {
        font-size: 2.7rem; }
      section.Rank .rank-holders > div > p {
        font-size: 1.7rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media only screen and (min-width: 0px) {
  section.reviews {
    margin-top: 15rem; }
  .sectionSider {
    display: block;
    margin: 10rem auto 0 auto;
    width: 100%;
    position: relative;
    transform: translateY(-8%); }
    .sectionSider .sectionSider-div {
      display: none;
      animation: slide-comtent 0.5s linear;
      position: relative; }
    .sectionSider img {
      position: absolute;
      top: -10rem;
      left: 50%;
      transform: translateX(-50%);
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      display: inline-block;
      box-shadow: 0 1.2rem 1rem rgba(52, 52, 52, 0.25);
      z-index: 99; }
    .sectionSider p {
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      color: #272525;
      width: 100%;
      display: inline-block;
      background-image: linear-gradient(to right top, rgba(248, 213, 139, 0.687) 0%, rgba(184, 142, 50, 0.892) 99%);
      box-shadow: 0 7px 7px rgba(52, 52, 52, 0.2);
      padding: 5rem 4rem 2rem 4rem;
      border-radius: 25% 5px 25% 5px;
      transform: translateY(-3rem); }
    .sectionSider span {
      cursor: pointer;
      position: absolute;
      font-size: 4rem;
      border-radius: 50%;
      color: #686666;
      z-index: 99; }
      .sectionSider span.left {
        top: 1rem;
        left: 1px;
        padding: 0 2rem 0.5rem 1.7rem; }
      .sectionSider span.right {
        top: 0.8rem;
        right: 1px;
        padding: 0 1.7rem 0.5rem 2rem; }
    .sectionSider .visible-slide {
      display: block !important; }
  @keyframes slide-comtent {
    0% {
      transform: translateX(-5rem);
      display: hidden; }
    5% {
      display: hidden; } } }

@media only screen and (min-width: 515px) {
  .sectionSider p {
    width: 50rem;
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 820px) {
  section.reviews {
    margin-top: 15rem;
    background-color: rgba(215, 203, 223, 0.408);
    padding: 1px 0; }
  .sectionSider {
    display: block;
    margin: 10rem auto 0 auto;
    width: 60rem;
    position: relative;
    transform: translateY(-3rem); }
    .sectionSider .sectionSider-div {
      display: none;
      animation: slide-comtent 0.5s linear; }
    .sectionSider img {
      position: inherit;
      top: 0;
      left: 0%;
      transform: translateX(0%);
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      display: inline-block;
      box-shadow: 0 1.2rem 1rem rgba(52, 52, 52, 0.25); }
    .sectionSider p {
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      color: #272525;
      width: 45rem;
      display: inline-block;
      background-image: linear-gradient(to right top, rgba(248, 213, 139, 0.687) 0%, rgba(184, 142, 50, 0.892) 99%);
      box-shadow: 0 7px 7px rgba(52, 52, 52, 0.2);
      padding: 3rem 3rem 2rem 4rem;
      border-radius: 25% 5px 25% 5px;
      margin-left: 2rem;
      transform: translateY(-3rem); }
    .sectionSider span {
      cursor: pointer;
      position: absolute;
      background-color: #c4ddd5;
      font-size: 4rem;
      border-radius: 50%;
      color: #828282; }
      .sectionSider span.left {
        top: 4rem;
        left: -10rem;
        padding: 0 2rem 0.5rem 1.7rem; }
      .sectionSider span.right {
        top: 3.6rem;
        right: -10rem;
        padding: 0 1.7rem 0.5rem 2rem; }
      .sectionSider span:hover {
        background-color: #bfd6cf; }
    .sectionSider .visible-slide {
      display: block !important; }
  @keyframes slide-comtent {
    0% {
      transform: translateX(-5rem);
      display: hidden; }
    5% {
      display: hidden; } } }

@media only screen and (min-width: 1050px) {
  .sectionSider {
    width: 70rem;
    transform: translateY(-3.5rem); }
    .sectionSider img {
      height: 12rem;
      width: 12rem; }
    .sectionSider p {
      font-size: 1.2rem;
      width: 54rem;
      padding: 3rem 3rem 2rem 4rem;
      margin-left: 2.3rem; } }

@media only screen and (min-width: 1150px) {
  .sectionSider {
    width: 90rem;
    transform: translateY(-2rem); }
    .sectionSider img {
      height: 13rem;
      width: 13rem; }
    .sectionSider p {
      font-size: 1.4rem;
      width: 70rem;
      padding: 5rem 3rem 3.5rem 4rem;
      margin-left: 4rem; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media only screen and (min-width: 0px) {
  .header-navPages {
    height: 10rem;
    background-image: none; }
  .section-main {
    padding: 0 8vw; }
    .section-main h2 {
      margin-bottom: 15vw;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 6.5vw;
      text-transform: uppercase;
      background-image: linear-gradient(-20deg, #00c7a9, #313b47);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4);
      text-align: center; }
    .section-main p {
      font-family: 'Roboto', sans-serif;
      font-size: 4.2vw;
      line-height: 2;
      color: #484848; }
    .section-main div {
      margin-bottom: 24vw; }
  .HistoryPara span {
    display: inline-block; }
  .HistoryPara span:not(:last-child) {
    margin-bottom: 2.5rem; }
  .SelectionProcedurePara span {
    display: inline-block; }
  .SelectionProcedurePara span:not(:last-child) {
    margin-bottom: 2.5rem; }
  .academyOpportunities ul {
    margin-top: 5rem;
    padding: 0 8vw;
    font-family: 'Roboto', sans-serif;
    font-size: 4.2vw;
    line-height: 2;
    color: #484848; }
    .academyOpportunities ul li:not(:last-child) {
      margin-bottom: 3vw; }
  .academyInstructors > div > h3 {
    font-size: 4vw;
    text-transform: uppercase;
    color: #231d50;
    margin-bottom: 3rem;
    font-family: 'Nunito Sans', sans-serif; }
  .academyInstructors > div > img {
    display: none; }
  .GauravPratapSharma > img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 5rem auto 3rem auto; }
  .GauravPratapSharma > h3 {
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: #333333;
    text-align: center; }
  .GauravPratapSharma p {
    padding: 0 3vw; }
    .GauravPratapSharma p span {
      display: inline-block; }
    .GauravPratapSharma p span:not(:last-child) {
      margin-bottom: 2.5rem; }
  .contact-us {
    width: 80%;
    margin: auto;
    padding: 0 .5rem; }
    .contact-us .contact-col {
      margin-bottom: 8rem; }
      .contact-us .contact-col div {
        display: flex;
        align-items: center;
        margin-bottom: 40px; }
        .contact-us .contact-col div .fas {
          font-size: 6vw;
          color: black;
          margin: 10px;
          margin-right: 4vw; }
        .contact-us .contact-col div .far {
          font-size: 6vw;
          color: black;
          margin: 10px;
          margin-right: 4vw; }
        .contact-us .contact-col div p {
          padding: 0;
          font-size: 4vw; }
        .contact-us .contact-col div h5 {
          font-size: 4.3vw;
          margin-bottom: 5px;
          color: #555;
          font-weight: 400; }
    .contact-us .contact-col input, .contact-us .contact-col textarea {
      width: 100%;
      padding: 15px;
      margin-bottom: 17px;
      outline: none;
      border: 1px solid #ccc;
      box-sizing: border-box; }
    .contact-us .contact-col .btn_SendMessage {
      cursor: pointer;
      padding: 10px 14px;
      background-image: linear-gradient(to left top, #049882, #404a56);
      color: floralwhite;
      border: none; }
      .contact-us .contact-col .btn_SendMessage:hover {
        background-image: linear-gradient(to left top, #027c6a, #272d35); } }

@media only screen and (min-width: 400px) {
  .header-navPages {
    height: 33vw; }
  .section-main {
    padding: 0 7vw; }
    .section-main h2 {
      margin-bottom: 12vw;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 5.5vw;
      text-transform: uppercase;
      background-image: linear-gradient(-20deg, #00c7a9, #313b47);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4);
      text-align: center; }
    .section-main p {
      font-family: 'Roboto', sans-serif;
      font-size: 4vw;
      line-height: 1.8;
      color: #484848; }
    .section-main div {
      margin-bottom: 24vw; }
  .HistoryPara span:not(:last-child) {
    display: inline-block;
    margin-bottom: 3.8rem; }
  .SelectionProcedurePara span:not(:last-child) {
    display: inline-block;
    margin-bottom: 3.8rem; }
  .academyOpportunities ul {
    padding: 0 7vw;
    margin-top: 9rem;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    line-height: 1.8;
    color: #484848; }
  .academyInstructors > div > h3 {
    font-size: 3.5vw;
    text-transform: uppercase;
    color: #231d50;
    margin-bottom: 4rem;
    font-family: 'Nunito Sans', sans-serif; }
  .academyInstructors > div > img {
    display: none; }
  .GauravPratapSharma > img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 7rem auto 3rem auto; }
  .GauravPratapSharma > h3 {
    font-size: 3.5vw;
    text-transform: uppercase;
    margin-bottom: 6rem;
    color: #333333; }
  .GauravPratapSharma p {
    padding: 0 3vw; }
    .GauravPratapSharma p span {
      display: inline-block; }
    .GauravPratapSharma p span:not(:last-child) {
      margin-bottom: 3rem; } }

@media only screen and (min-width: 500px) {
  .header-navPages {
    height: 20rem; }
  .section-main {
    padding: 0 8vw; }
    .section-main h2 {
      margin-bottom: 10vw;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 5vw;
      text-transform: uppercase;
      background-image: linear-gradient(-20deg, #00c7a9, #313b47);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4);
      text-align: center; }
    .section-main p {
      font-family: 'Roboto', sans-serif;
      font-size: 3.3vw;
      line-height: 1.74 !important;
      color: #484848; }
    .section-main div {
      margin-bottom: 22vw; }
    .section-main .HistoryPara span:not(:last-child) {
      display: inline-block;
      margin-bottom: 5rem; }
    .section-main .SelectionProcedurePara span:not(:last-child) {
      display: inline-block;
      margin-bottom: 5rem; }
  .HeadingOpportunities {
    font-size: 4.4vw !important; }
  .HeadingSelectionProcedure {
    font-size: 4.4vw !important; }
  .academyOpportunities ul {
    margin-top: 5rem;
    padding: 0 8vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3.3vw;
    line-height: 1.74 !important;
    color: #484848; }
  .academyInstructors > div > h3 {
    display: inline-block;
    font-size: 2.7vw;
    text-transform: uppercase;
    color: #231d50;
    margin-bottom: 5rem;
    margin-top: 4rem;
    font-family: 'Nunito Sans', sans-serif; }
  .academyInstructors > div > img {
    display: none; }
  .GauravPratapSharma > img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 2rem auto 3rem auto; }
  .GauravPratapSharma > h3 {
    font-size: 2.9vw;
    text-transform: uppercase;
    margin-bottom: 9rem;
    color: #333333; }
  .GauravPratapSharma p {
    padding: 0 3vw; }
    .GauravPratapSharma p span {
      display: inline-block; }
    .GauravPratapSharma p span:not(:last-child) {
      margin-bottom: 3rem; }
  .contact-us {
    width: 80%;
    margin: auto;
    padding: 0 .5rem; }
    .contact-us .contact-col {
      margin-bottom: 10rem; }
      .contact-us .contact-col div {
        display: flex;
        align-items: center;
        margin-bottom: 40px; }
        .contact-us .contact-col div .fas {
          font-size: 3.7rem;
          color: black;
          margin: 10px;
          margin-right: 4vw; }
        .contact-us .contact-col div .far {
          font-size: 3.7rem;
          color: black;
          margin: 10px;
          margin-right: 4vw; }
        .contact-us .contact-col div p {
          padding: 0;
          font-size: 1.8rem; }
        .contact-us .contact-col div h5 {
          font-size: 2.3rem;
          margin-bottom: 5px;
          color: #555;
          font-weight: 400; }
    .contact-us .contact-col input, .contact-us .contact-col textarea {
      width: 100%;
      padding: 15px;
      margin-bottom: 17px;
      outline: none;
      border: 1px solid #ccc;
      box-sizing: border-box; }
    .contact-us .contact-col .btn_SendMessage {
      cursor: pointer;
      padding: 10px 14px;
      background-image: linear-gradient(to left top, #049882, #404a56);
      color: floralwhite;
      border: none; }
      .contact-us .contact-col .btn_SendMessage:hover {
        background-image: linear-gradient(to left top, #027c6a, #272d35); } }

@media only screen and (min-width: 750px) {
  .header-navPages {
    height: 25rem; }
  .section-main {
    padding: 0 10vw; }
    .section-main h2 {
      margin-bottom: 9vw;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 4rem;
      text-transform: uppercase;
      background-image: linear-gradient(-20deg, #00c7a9, #313b47);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4);
      text-align: center; }
    .section-main p {
      font-family: 'Roboto', sans-serif;
      font-size: 2.5rem;
      line-height: 1.74 !important;
      color: #484848; }
    .section-main div {
      margin-bottom: 20rem; }
    .section-main .HistoryPara span:not(:last-child) {
      display: inline-block;
      margin-bottom: 5rem; }
    .section-main .SelectionProcedurePara span:not(:last-child) {
      display: inline-block;
      margin-bottom: 5rem; }
  .HeadingOpportunities {
    font-size: 3.5rem !important; }
  .HeadingSelectionProcedure {
    font-size: 3.5rem !important; }
  .academyOpportunities ul {
    margin-top: 5rem;
    padding: 0 5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    line-height: 1.74 !important;
    color: #484848; }
  .academyInstructors > div > h3 {
    display: inline-block;
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #231d50;
    margin-bottom: 10rem;
    margin-top: 5rem;
    font-family: 'Nunito Sans', sans-serif; }
  .academyInstructors > div > img {
    display: none; }
  .GauravPratapSharma > h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 13rem;
    color: #333333; }
  .GauravPratapSharma p {
    padding: 0 2.5rem; }
    .GauravPratapSharma p span {
      display: inline-block; }
    .GauravPratapSharma p span:not(:last-child) {
      margin-bottom: 3rem; } }

@media only screen and (min-width: 1000px) {
  .contact-us {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 8rem; }
    .contact-us .contact-col {
      flex: 1; }
      .contact-us .contact-col div {
        display: flex;
        align-items: center;
        margin-bottom: 40px; }
        .contact-us .contact-col div .fas {
          font-size: 28px;
          color: black;
          margin: 10px;
          margin-right: 30px; }
        .contact-us .contact-col div .far {
          font-size: 28px;
          color: black;
          margin: 10px;
          margin-right: 30px; }
        .contact-us .contact-col div p {
          padding: 0;
          font-size: 20px; }
        .contact-us .contact-col div h5 {
          font-size: 20px;
          margin-bottom: 5px;
          color: #555;
          font-weight: 400; }
    .contact-us .contact-col input, .contact-us .contact-col textarea {
      width: 100%;
      padding: 15px;
      margin-bottom: 17px;
      outline: none;
      border: 1px solid #ccc;
      box-sizing: border-box; }
    .contact-us .contact-col .btn_SendMessage {
      cursor: pointer;
      padding: 10px 14px;
      background-image: linear-gradient(to left top, #049882, #404a56);
      color: floralwhite;
      border: none; }
      .contact-us .contact-col .btn_SendMessage:hover {
        background-image: linear-gradient(to left top, #027c6a, #272d35); } }

@media only screen and (min-width: 0px) {
  .event {
    margin-bottom: 6rem; }
    .event .half-width {
      display: inline-block;
      width: 100%; }
      .event .half-width h2 {
        font-size: 6.5vw;
        margin-bottom: 2rem; }
      .event .half-width p {
        padding: 0 2rem;
        margin-top: 4rem;
        line-height: 2;
        color: #484848;
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        margin-bottom: 2rem; }
      .event .half-width .moreImages {
        text-decoration: none;
        color: #7443c2;
        border-bottom: 2px solid #7443c2;
        margin: 0 auto 2rem 2rem;
        font-size: 1.3rem; }
        .event .half-width .moreImages:active {
          transform: translateY(1px);
          box-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4); }
      .event .half-width .event-img > .img {
        width: 90vw;
        display: block;
        margin: 0 auto 1rem auto;
        height: 17rem;
        object-fit: cover; }
      .event .half-width .event-img > .img:first-child {
        margin-top: 3rem; } }

@media only screen and (min-width: 380px) {
  .event .half-width h2 {
    font-size: 2.7rem; }
  .event .half-width p {
    font-size: 2rem;
    padding: 4rem; }
  .event .half-width .event-img > .img {
    width: 75%;
    height: 18rem;
    object-fit: cover; }
  .event .half-width .moreImages {
    margin: 0 auto 2rem 4rem; } }

@media only screen and (min-width: 545px) {
  .event .half-width h2 {
    font-size: 2.7rem; }
  .event .half-width p {
    font-size: 2rem;
    padding: 4rem; }
  .event .half-width .moreImages {
    margin: 0 auto 2rem 4rem; }
  .event .half-width .event-img {
    padding: 0;
    display: block;
    margin: 10rem auto;
    width: 48.5rem; }
    .event .half-width .event-img .img {
      width: 23rem;
      display: inline-block;
      margin: 0 !important;
      padding: 0%;
      height: 17rem;
      object-fit: cover; }
      .event .half-width .event-img .img-3 {
        display: none; }
  .event .half-width .event-img > .img:first-child {
    margin-right: 1.3rem !important; } }

@media only screen and (min-width: 747px) {
  .event .half-width .event-img {
    padding: 0;
    display: block;
    margin: 10rem auto;
    width: 70rem; }
  .event .half-width .event-img > .img {
    width: 22rem;
    display: inline-block;
    margin: 0 !important;
    height: 17rem;
    object-fit: cover; }
    .event .half-width .event-img > .img-3 {
      display: inline-block; }
  .event .half-width .event-img > .img:not(:last-child) {
    margin-right: 1.3rem !important; } }

@media only screen and (min-width: 1100px) {
  .events {
    display: block;
    width: 82%;
    margin: 0 auto; }
  .event {
    margin-bottom: 20rem;
    display: flex; }
    .event .half-width {
      flex: 1; }
    .event:not(:last-child) {
      border-bottom: 1px solid #8a8888;
      padding-bottom: 20rem; }
    .event .event-left {
      width: 50%;
      margin-right: 8vw; }
      .event .event-left h2 {
        font-size: 3rem;
        margin-bottom: 6rem;
        padding: 0 3rem; }
      .event .event-left p {
        padding: 0 3vw;
        margin-top: 4rem;
        line-height: 2;
        color: #484848;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        margin-bottom: 4rem; }
      .event .event-left .moreImages {
        text-decoration: none;
        color: #7443c2;
        border-bottom: 2px solid #7443c2;
        margin: 0 auto 2rem 3vw;
        font-size: 1.6rem; }
        .event .event-left .moreImages:hover, .event .event-left .moreImages:focus {
          background-image: linear-gradient(-20deg, #00c7a9, #313b47);
          color: floralwhite;
          border: none; }
        .event .event-left .moreImages:active {
          transform: translateY(1px);
          box-shadow: 0.3rem 0.7rem 0.8rem rgba(0, 0, 0, 0.4); }
    .event .event-right {
      width: 35%;
      margin-left: 3rem; }
      .event .event-right .event-img {
        position: relative;
        margin-top: 8rem;
        margin-left: 3rem; }
        .event .event-right .event-img > .img {
          width: 24rem;
          height: 17rem;
          object-fit: cover;
          display: block;
          margin: 0% !important;
          padding: 0%;
          position: absolute;
          z-index: 10;
          transition: all .2s;
          border: 1px solid rgba(255, 255, 255, 0.253);
          box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6); }
          .event .event-right .event-img > .img-1 {
            top: 3rem;
            left: 0rem; }
          .event .event-right .event-img > .img-2 {
            top: 7rem;
            left: 19rem; }
          .event .event-right .event-img > .img-3 {
            top: 14rem;
            left: 12%; }
          .event .event-right .event-img > .img:hover {
            transform: scale(1.05) translateY(-0.5rem);
            outline-offset: 1.4rem;
            z-index: 20;
            outline: 1rem solid #1f746e; }
        .event .event-right .event-img:hover .img:not(:hover) {
          transform: scale(0.9); } }

@media only screen and (min-width: 0px) {
  main.gallery {
    margin: 2rem 0 8rem 0; }
    main.gallery .Gallery-div {
      margin-top: 7rem; }
      main.gallery .Gallery-div a {
        display: block;
        position: relative;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.212); }
        main.gallery .Gallery-div a .Gallery-div_IMG {
          width: 100vw;
          height: 27rem;
          object-fit: cover !important; }
        main.gallery .Gallery-div a div.Gallery-div_paraDiv {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          clip-path: polygon(0 220px, 100% 130px, 100% 100%, 0px 100%);
          background-image: linear-gradient(to left top, #049882b6, #404a56a7); }
          main.gallery .Gallery-div a div.Gallery-div_paraDiv p {
            width: 30rem;
            font-size: 1.8rem;
            font-family: 'Nunito Sans', sans-serif;
            position: absolute;
            bottom: 2.6rem;
            right: 50%;
            transform: translateX(50%);
            font-weight: 700;
            letter-spacing: 1.5px;
            background-image: linear-gradient(-70deg, #BBD2C5, #6dd5ed);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }

@media only screen and (min-width: 320px) {
  main.gallery {
    margin: 6rem 0 9rem 0; }
    main.gallery .Gallery-div {
      margin-top: 9rem; }
      main.gallery .Gallery-div a .Gallery-div_IMG {
        height: 28rem; }
      main.gallery .Gallery-div a div.Gallery-div_paraDiv {
        clip-path: polygon(0 220px, 100% 150px, 100% 100%, 0px 100%); }
        main.gallery .Gallery-div a div.Gallery-div_paraDiv p {
          width: 30rem;
          font-size: 2rem;
          bottom: 2rem; } }

@media only screen and (min-width: 460px) {
  main.gallery {
    margin: 3rem 0 9rem 0; }
    main.gallery .Gallery-div {
      margin-top: 9rem;
      width: 46rem;
      margin-left: auto;
      margin-right: auto; }
      main.gallery .Gallery-div a .Gallery-div_IMG {
        height: 32rem;
        width: 100%; }
      main.gallery .Gallery-div a div.Gallery-div_paraDiv p {
        width: 35rem;
        font-size: 2.3rem;
        bottom: 4rem; } }

@media only screen and (min-width: 1050px) {
  main.gallery {
    margin: 0 0 11rem 0;
    width: 102rem;
    margin-left: auto;
    margin-right: auto; }
    main.gallery .Gallery-div {
      display: inline-block;
      margin-left: 3rem; } }

@media only screen and (min-width: 1300px) {
  main.gallery {
    width: 120rem; }
    main.gallery .Gallery-div {
      display: inline-block;
      margin-left: 9.5rem; } }

@media only screen and (min-width: 0px) {
  section.centered_section {
    transform: translateY(-1rem); }
    section.centered_section .Gallery_IMG {
      width: 100vw;
      height: 25rem;
      display: block;
      box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.307);
      margin: 1.5rem 0;
      object-fit: cover !important; } }

@media only screen and (min-width: 380px) {
  section.centered_section {
    width: 38rem;
    margin-left: auto;
    margin-right: auto; }
    section.centered_section .Gallery_IMG {
      width: 100%; } }

@media only screen and (min-width: 500px) {
  section.centered_section {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-7rem); }
    section.centered_section .Gallery_IMG {
      height: 27rem;
      width: 100%;
      display: block;
      margin: 1.7rem 0;
      border-radius: .4rem; } }

@media only screen and (min-width: 600px) {
  section.centered_section {
    width: 50rem;
    transform: translateY(-7rem); }
    section.centered_section .Gallery_IMG {
      height: 29rem; } }

@media only screen and (min-width: 850px) {
  section.centered_section {
    width: 90%;
    transform: translateY(-8rem); }
    section.centered_section .Gallery_IMG {
      width: 48%;
      height: 28vw;
      display: inline-block;
      margin: 5px;
      object-fit: cover; } }

@media only screen and (min-width: 1230px) {
  section.centered_section {
    width: 117rem;
    transform: translateY(-8rem); }
    section.centered_section .Gallery_IMG {
      width: 57rem;
      height: 35rem;
      display: inline-block;
      margin: 5px;
      object-fit: cover; } }

@media only screen and (min-width: 0px) {
  .All_blogs {
    margin-bottom: 3rem; }
    .All_blogs .blogs .blog {
      margin-top: 4rem;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1.5px solid rgba(51, 51, 51, 0.176); }
      .All_blogs .blogs .blog > .Blog_heading {
        line-height: 1;
        font-weight: 700;
        letter-spacing: 1.2px;
        font-family: 'Nunito Sans', sans-serif;
        background-image: linear-gradient(45deg, #0e331e, #4c8592, #0e331e);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
        text-transform: capitalize; }
      .All_blogs .blogs .blog > span.writerName {
        margin-top: 2rem;
        display: block;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        font-size: 1.35rem;
        font-weight: 400;
        color: #2a2a5a; }
      .All_blogs .blogs .blog > .blog_content {
        margin-top: 4rem; }
        .All_blogs .blogs .blog > .blog_content span {
          font-family: 'Roboto', sans-serif;
          font-size: 1.4rem;
          line-height: 1.8;
          color: #484848;
          display: block; }
          .All_blogs .blogs .blog > .blog_content span > .continueReading {
            margin-top: 1rem;
            text-transform: capitalize;
            color: #88624d;
            font-size: 1.3rem;
            display: block;
            cursor: pointer;
            padding: 1rem .5rem 1rem .1rem; }
        .All_blogs .blogs .blog > .blog_content > span.firstFewLines {
          margin-bottom: 2rem;
          margin-left: auto;
          margin-right: auto; }
        .All_blogs .blogs .blog > .blog_content > span.remainingPara {
          display: none; }
          .All_blogs .blogs .blog > .blog_content > span.remainingPara > span {
            margin-bottom: 2rem; }
            .All_blogs .blogs .blog > .blog_content > span.remainingPara > span > .close_blog {
              margin-top: 1rem;
              text-transform: capitalize;
              color: #88624d;
              font-size: 1.3rem;
              display: block;
              cursor: pointer;
              padding: 1rem .5rem 1rem .1rem; } }

@media only screen and (min-width: 400px) {
  .All_blogs {
    transform: translateY(-4rem); } }

@media only screen and (min-width: 750px) {
  .All_blogs {
    transform: translateY(-8rem); } }

@media only screen and (min-width: 1130px) {
  .All_blogs .blogs .blog {
    width: 80%; } }
