.heading_h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.3rem;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(-20deg, #00c7a9, #313b47);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0.3rem 0.7rem 0.8rem rgba(#000, .4);
}
@media only screen and (max-width: 1060px){
    .heading_h2{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 450px)and (max-width:780px){
    .heading_h2{
        font-size: 2.3rem;
    }
}
@media only screen and (max-width: 450px){
    .heading_h2{
        font-size: 2rem;
    }
}